body[name="index"] {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    background: url(../img/background-blur-clean-531880.jpg);
}


/* This area describe the header region  for Sign in and Create account landing page*/
.header-container {
    background-color: #F7F7F7;
    height: auto;
    width: 100%;
    display: inline-block;
}

.header-sign {
    float: right;
}

.create-account {
    float: right;
    height: auto;
    width: auto;
}

#create-account-btn {
    height: 4.5em;
    width: 100%;
    margin-left: 2em; 
    text-align: center;
    padding: 0 4em 0 2em;
    background-color:#0A70AE; 
    color: #ffffff;
    border: none;
    font-size: 12px;
}

#sign-btn {
    height: 4.5em;
    width: 100%;
    color: #05587B;
    border: none;
    font-size: 12px;
    background-color: #F7F7F7; 
}

